<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SINGULAR-CONTRAINED-CALOGERO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SINGULAR-CONTRAINED-CALOGERO_lib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SINGULAR-CONTRAINED-CALOGERO_standalone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D98E3ACD17C41D5C00A1731B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D98E3AE217C41E1800A1731B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D990A43E17B926570022E545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
