test-*/data
test-*/lib
test-*/model/OCP_tmp
test-*/ocp-*
test-*/*run.rb
test-*/*run_ffi.rb
test-*/bin/main
test-*/matlab_scripts

.bundle
dumps

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test-SingleTrack_NLMPC/model/DS_tmp
test-SingleTrack_NLMPC/ds-cpp
test-SingleTrack_NLMPC/ds-interfaces
*.sav
*.
test-BangBangF/DerivedData
test-Brachiostocrona/Brachio.xcodeproj
test-Brachiostocrona/DerivedData
test-SingularMarchal/DerivedData
_run.m
*_run.m
test-Train/DerivedData
