/*test*-*/data
/*test*-*/lib
/*test*-*/bin
/*test*-*/model/OCP_tmp
/*test*-*/ocp-*
/*test*-*/*run.rb
/*test*-*/*run_ffi.rb
/*test*-*/bin/main
/*test*-*/matlab_scripts
/*/*test*-*/data
/*/*test*-*/lib
/*/*test*-*/bin
/*/*test*-*/model/OCP_tmp
/*/*test*-*/ocp-*
/*/*test*-*/*run.rb
/*/*test*-*/*run_ffi.rb
/*/*test*-*/bin/main
/*/*test*-*/matlab_scripts
*_run.m

DerivedData

.bundle
dumps

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sav
