/*test*-*/lib
/*test*-*/bin
/*test*-*/data/*_result.txt
/*test*-*/model/OCP_tmp
/*test*-*/bin/main
/*test*-*/matlab_scripts
/*test*-*/build
/*test*-*/Makefile

/*/*test*-*/lib
/*/*test*-*/bin
/*/*test*-*/data/*_result.txt
/*/*test*-*/model/OCP_tmp
/*/*test*-*/bin/main
/*/*test*-*/matlab_scripts
/*/*test*-*/build
/*/*test*-*/Makefile
*_run.m

DerivedData

.bundle
.vscode
dumps

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sav
*.bak
