<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-08-12T21:05:34Z</date>
	<key>WorkspacePath</key>
	<string>/Users/enrico/Ricerca/develop/C++/pins-mechatronix/tests/OCP/group-BangBang/test-BangBangF/BanfBanfF/BanfBanfF.xcodeproj</string>
</dict>
</plist>
